
body::before {
    background-image: none;
    background-color: #222241;
}



/* Edit Header Buttons */
#buttons03 {
	width: calc(100% + 0.125rem);
	margin-left: -0.0625rem;
}

#buttons03 li {
	display: inline-block;
	vertical-align: middle;
	max-width: calc(100% - 0.125rem);
	margin: 0.0625rem;
}

#buttons03 li a {
	display: flex;
	width: auto;
	height: 1.75rem;
	line-height: 1.75rem;
	vertical-align: middle;
	padding: 0 0.875rem;
	font-size: 0.625em;
	font-family: 'Exo', sans-serif;
	font-weight: 500;
	border-radius: 0.125rem;
}

#buttons03 .button {
    border-radius: 6px;
	background-color: transparent;
	color: #FFFFFF;
}

#buttons03 .button:hover {
	background-color: #4834d4 !important;
}

#buttons03 .n02:hover {
	background-color: rgba(255, 115, 0, 0.169) !important;
}
#buttons03 .n03:hover {
	background-color: rgba(31, 80, 255, 0.169) !important;
}
#buttons03 .n04:hover {
	background-color: rgba(255, 66, 66, 0.169) !important;
}

/* Edit Second Header Buttons */




#buttons01 .button {
    border-radius: 6px;
	background-color: transparent;
	color: #FFFFFF;
}

#buttons01 .button:hover {
	background-color: #4834d4 !important;
}

.dropdown-content a {
	color: #FFFFFF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 0.625em;
	font-family: 'Exo', sans-serif;
	font-weight: 500;
	text-align: center;
	border-radius: 6px;
	min-width: 100%;
	width: fit-content;
	white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #4834d4 !important;
}

#form03 button {
    border-radius: 6px;
}

#form02 input[type="text"], #form02 input[type="email"], #form02 select, #form02 .file, #form03 input[type="text"], #form03 input[type="email"], #form03 select, #form03 .file {

    border-radius: 6px;
    background-color: transparent;
    border: #ffffff85 2px solid;

}


#form02 button {
    border-radius: 6px;
}

#buttons09 .n01 {
    border-radius: 6px;
    background-color: #4834d4;
}

#buttons09 .n01:hover {
	background-color: #4834d470 !important;
}

#buttons09 .n02 {
    border-radius: 6px;
    background-color: #4834d4;
}

#buttons09 .n02:hover {
	background-color: #4834d470 !important;
}

#buttons09 .n03 {
    border-radius: 6px;
    background-color: #6ab04c;
}

#buttons09 .n03:hover {
	background-color: #6ab04c70 !important;
}

#buttons10 .n01 {
    border-radius: 6px;
    background-color: #4834d4;
}

#buttons10 .n01:hover {
    background-color: #4834d470!important;
}

.reviewBar::-webkit-progress-value {
	background: #eb4d4b;
}

#buttons06 .n01 {
    border-radius: 6px;
    background-color: #4834d4;
}

#buttons06 .n01:hover {
    border-radius: 6px;
    background-color: #4834d4;
}

#buttons06 .n02 {
    border-radius: 6px;
    background-color: #6ab04c;
}

#buttons06 .n02:hover {
    background-color: #6ab04c70 !important;
}

#buttons12 .button {
    background-color: #4834d470;
}

#buttons12 .button:hover {
    background-color: #4834d4 !important;
}

#buttons12 li a {
    border-radius: 6px;
}

.dropdown-content-admin a {
    border-radius: 6px;
}

#container06 > .wrapper > .inner {
    border-radius: 15px;
	background-color: #121223;
}

#container04.columns > .wrapper > .inner {
    border-radius: 15px;
	background-color: #121223;
}

#container18.columns > .wrapper > .inner {
    border-radius: 15px;
	background-color: #121223;
}

#form01 button {
    border-radius: 6px;
}

#form01 input[type="text"], #form01 input[type="email"], #form01 textarea, #form01 select, #form01 .file {
    border-radius: 6px;
    background-color: transparent;
    border: #ffffff85 2px solid;
}

#buttons08 .n01 {
    border-radius: 6px;
	background-color: #eb4d4b;
}

#buttons08 .n01:hover {
	background-color: #eb4d4b70 !important;
}

#buttons08 .n02 {
    border-radius: 5px;
	background-color: #4834d4;
}

#buttons08 .n02:hover {
	background-color: #4834d470 !important;
}

#form13 input[type="text"], #form13 input[type="email"], #form13 input[type="number"], #form13 textarea, #form13 select, #form13 input[type="password"], #form13 .file {
	border-radius: 15px;
    resize: none;
}

#form13 button {
    border-radius: 6px;
}

#form10 input[type="text"], #form10 input[type="email"], #form10 textarea, #form10 select, #form10 input[type="checkbox"] + label, #form10 .file {
    border-radius: 6px;
    background-color: transparent;
    border: #ffffff85 2px solid;
}

#form15 button {
    border-radius: 6px;
}

#container24.columns > .wrapper > .inner > * > * {
    border-radius: 15px;
}

#form09 button {
    border-radius: 6px;
}

#form09 input[type="text"], #form09 input[type="email"], #form09 textarea, #form09 select, #form09 input[type="checkbox"] + label, #form09 .file {
	border-radius: 15px;
}

#form09 input[type="text"], #form09 input[type="email"], #form09 select, #form09 .file {
	border-radius: 15px;
}

.userPageRows {
    border-radius: 15px;
}

#form10 button {
    border-radius: 6px;
}

#buttons05 .button {
    border-radius: 6px;
}

#form05 button {
    border-radius: 6px;
}

#form08 input[type="text"], #form08 input[type="email"], #form08 textarea, #form08 select, #form08 .file {
	border-radius: 15px;
    resize: none;
}

#form08 button {
    border-radius: 6px;
}

#container17.columns > .wrapper > .inner > * > * {
	border-radius: 15px;
    resize: none;
}

#form17 input[type="text"], #form17 input[type="email"], #form17 select, #form17 .file {
	border-radius: 15px;
}

#form14 button {
    border-radius: 6px;
}

#form14 input[type="text"], #form14 input[type="email"], #form14 select, #form14 .file {
	border-radius: 15px;
}

#form12 input[type="text"], #form12 input[type="email"], #form12 select, #form12 .file {
	border-radius: 15px;
}

#form12 button {
    border-radius: 6px;
}